@import './assets/variables';
@import "./breakpoints/breakpoints.scss";

.App {
  background-color: #dac29b;
  min-width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  overflow-y: scroll;
  @include media('<=tablet') {
  }
  @include media('<=phone') {
    max-height: 100%;
    overflow-x: hidden;
  }
  main {
    font-family: $font-title;
    @include media('<=phone') {
      height: 99vh;
      max-width: 100vw;
      overflow-x: hidden;
    }

    #landing {
      color: white;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
      @include media('<=desktop') {
        min-height: 90vh;
      }
      nav {
        padding: 0rem 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 10vh;
        padding: 0rem 3rem;
        @include media('<=desktop') {
          margin-right: 0;
          visibility: hidden;
          position: fixed;
        }
        @include media('<=tablet') {
          padding: 0rem;
          visibility: hidden;
          position: fixed;
        }
        @include media('<=phone') {
          visibility: hidden;
          position: fixed;
        }
        .logo-raph {
          font-family: $font-text;
          font-weight: lighter;
          font-size: 2rem;
        }
        .nav-links {
          display: flex;
          list-style: none;
          padding: 0;
          li {
            font-family: $font-text;
            font-weight: 300;
            padding-left: 2rem;
            font-size: 1rem;
            letter-spacing: 0.2em;
          }
        }
      }
      #nav-small-screen {
        width: 100%;
        visibility: hidden;
        position: fixed;
        @include media('<=desktop') {
          visibility: visible;
          position: unset;
        }
        @include media('<=tablet') {
          visibility: visible;
          position: unset;
        }
        @include media('<=phone') {
          visibility: visible;
          position: unset;
        }
      }
    }

    .presentation {
      display: flex;
      justify-content: space-evenly;
      padding: 0 10%;
      @include media('<=desktop') {
        margin-top: 5rem;
      }
      @include media('<=tablet') {
        flex-direction: column;
      }
      @include media('<=phone') {
        flex-direction: column;
        height: 90vh;
      }
      .image-icon {
        .selfie {
          margin-top: 25rem;
          height: 55vh;
          margin-right: 5rem;
          filter: grayscale(1);
          width: auto;
          &:hover {
            filter: drop-shadow(2px 4px 6px black);
          }
          @include media('<=LGdesktop') {
            margin-top: 28rem;
            margin-right: 0rem;
            height: 50vh;
          }
          @include media('<=desktop') {
            margin-top: 30rem;
            margin-left: 25rem;
            height: 55vh;
          }
          @include media('<=tablet') {
            width: 25rem;
            height: auto;
            margin-top: 15rem;
            margin-left: 15rem;
          }
          @include media('<=phone') {
            width: 15rem;
            margin-top: 1rem;
            margin-left: 7rem;

          }
        }
      }
        
        .presentation-text {
          align-items: center;
          display: flex;
          flex-direction: column;
          @include media('<=tablet') {
            margin-top: 4rem;
            width: 100%;
            align-self: center;
            align-items: center;
          }
          @include media('<=phone') {
            margin-top: 1rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }
      
    
  

@keyframes colorChange {
  from { filter: opacity(0);}
  to {filter: none}
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    bottom: -100%
  }
  100% {
    bottom: 0;
  }
}


