@import './assets/variables';
@import './breakpoints/breakpoints.scss';

html {
  min-width: 100vw;
  @include media('<=desktop') {
  }
  @include media('<=phone') {
    max-height: 100%;
    overflow-x: hidden;
  }
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  @include media('<=phone') {
    max-height: 100%;
    overflow-x: hidden;
  }
}

h1 {
  font-weight: inherit;
}
a {
  text-decoration: none;
  outline: none;
  color: unset;
}

select {
  background: transparent;
  color: white;
  height: 2rem;
  font-size: 1rem;
  font-family: $font-text;
  font-weight: 200;
  text-transform: uppercase;
  border: none;
  cursor: pointer
}
.full-width {
  width: 100%;
  min-width: 100%;
}