$title-text: 'Open Sans', sans-serif;
$text: 'Shadows Into Light', cursive; ;
$text2: 'Rajdhani', sans-serif;
$text-simple: 'Montserrat', sans-serif;
$primary-color: white;
$secondary-color :#006466;

#contact {
  background: linear-gradient(140deg, black 80%, #fff 10%);
  margin: 4em 0em;
  padding: 2em;
  .title-button {
    float: right;

  }
  h1 {
    font-family: $text;
    color: $primary-color;
    font-weight: 100;
    font-size: 2em;
    margin-top: 1em;
  }
  .contact-form {
    display: flex;
    flex-direction: column;
    margin: 2em 20em; 
    .form-input {
      background-color: transparent;
      height: 2em;
      outline: none;
      color: $primary-color;
      font-size: 1em;
      font-family: $text-simple;
      border-bottom: 1px solid $primary-color;
      border-top: none;
      border-right: none;
      border-left: none;
      .msg {
        overflow: visible;
      }
    }
  }
}

body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: 'Open Sans Condensed', sans-serif;
}
.box-1 {
  height: 33.33%;
  width: 100%; 
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: transparent;
  text-decoration: none;
  outline: none;
  border:none;
  margin-top: 2em;
}
.btn {
  line-height: 50px;
  height: 50px;
  text-align: center;
  width: 250px;
  cursor: pointer;
}

.btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}

@media (max-width: 480px) {
  #contact {
    h1 {
      font-size: 3em;
    }
    .contact-form {
      margin: 1em 15em;
      .form-input {
        font-size: 24px;

        .msg {
          height: 60px;
        }
      }
    }
  }
  .btn-one {
   span {
     font-size: 1.5em;
   } 
  }
}