@import '../assets/variables';

#footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: $font-title;
  color: rgb(100, 100, 100);
  background-color: #f1f1f1;
  .rights {
    align-items: center;
    margin-bottom: 10px;
    text-align: center;
  }
  .follow {
    margin: 1rem;
  }
  .made-of {
    margin: 0.5rem
  }
}