@import '../assets/variables';

#project {
  color: black;
  margin: 4em 1em;
  padding: 2em;
  .title-button-project {
    float: right;
  }
  h1 {
    font-family: $font-text;
    color: black;
    font-weight: 100;
    font-size: 2em;
    margin-top: 1em;
  }
  .title-project {
    font-family: $font-text;
    font-size: 2em;
  }
  .project-cards {
    display: flex;
    place-items: flex-start;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: 2em;
  }
}


@media (max-width: 480px) {
  #project h1{
    font-size: 3em;
  }
  .title-button-project {
    margin-left: 970px;
  }
}