@import '../assets/variables';

#project {
  color: black;
  margin: 4em 1em;
  padding: 2em;
  height: fit-content;
  .title-button-project {
    float: right;
  }
  .title {
    font-family: $font-text;
    color: black;
    font-weight: 300;
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
  }
  .title-project {
    font-family: $font-text;
    font-size: 2em;
  }
  .project-cards {
    display: flex;
    place-items: flex-start;
    flex-flow: wrap;
    justify-content: space-evenly;
    margin: 2em;
    
  }
}
