@import '../assets/variables';
@import '../breakpoints/breakpoints.scss';

#skills {
  padding: 2em;
  @include media('<=phone') {
    padding: 5rem 2rem;
  }
  .title-button-skills {
    float: right;
  }
  .title {
    font-family: $font-text;
    color: black;
    font-weight: 300;
    font-size: 2em;
    margin-top: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 4rem;
  }
}

.skill {
  display: flex;
  justify-content: center;
  @include media('<=tablet') {
    flex-wrap: wrap;
    padding: 0rem 5rem;
  }
  @include media('<=phone') {
    flex-wrap: wrap;
    padding: 0rem 2rem;
  }
  .skill-name {
    display: flex;
    flex-direction: column;
    font-family: $font-text;
    align-items: center;
    font-size: 1rem;
    font-weight: 300;
    &:hover {
      color: $secondary-color;
    }
  }
  .skill-icon {
    margin: 2em;
    padding: 1em;
    transform: scale(3.5);
    @include media('<=phone') {
      padding: 2rem;
      transform: scale(2.5);
      margin: 0;
    }
    label {
      @include media('<=phone') {
        font-size: 0.8rem;
      }
    }
  }
}
.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  .click-prg {
    font-family: $font-text;
    font-size: 1.5em;
    letter-spacing: 0.5px;
    font-weight: 300;
    @include media('<=phone') {
      text-align: center;
    }
  }
}


// @media (max-width: 480px) {
//   #skills {
//     h1 {
//       font-size: 3em;
//     }
//     label {
//       font-size: 1.1em;
//     }
//     .click-prg {
//       font-size: 1.5em;
//     }
//   }
// }