.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 25px;
  input[type="checkbox"] {
    display: none;
  }
  .switch {
    position: absolute;
    cursor: pointer;
    background-color: rgb(158, 137, 99);
    border-radius: 25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;
    &::before {
      position: absolute;
      content: "";
      left: 2px;
      top: 2px;
      width: 21px;
      height: 21px;
      background-color: rgb(255, 254, 254);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }
}
.toggle-switch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(15px);
  background-color: rgb(158, 137, 99);
}
.toggle-switch input[type="checkbox"]:checked + .switch {
  background-color: #ffffff;
}